name: Android CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Set ADB Install Timeout
      run: echo "ANDROID_EMULATOR_WAIT_TIME_BEFORE_KILL=600" >> $GITHUB_ENV # 10 minutes
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build
    - name: Run Start Emulator
      uses: ReactiveCircus/android-emulator-runner@v2
      with:
        api-level: 30            # Specify API level of the emulator
        target: google_apis      # Set target to google_apis
        arch: x86_64             # Specify architecture
        script: ./gradlew connectedCheck  # Command to run connected tests
